services:
  traefik:
    image: traefik:latest
    networks:
      - traefik
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - ghost
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./acme.json:/acme.json:rw
      - ./config:/etc/traefik/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.docker.network=traefik

  ghost:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - traefik
      - backend
    container_name: ghost
    restart: always
    depends_on:
      - ghostdb
    ports:
      - 2368:2368
    environment:
      # see more here https://ghost.org/docs/config/#configuration-options
      url: ${GHOST_URL}
      database__client: mysql
      database__connection__host: ghostdb
      database__connection__user: ${MYSQL_USER}
      database__connection__password: ${MYSQL_PASSWORD}
      database__connection__database: ${MYSQL_DATABASE}
      mail__from: ${MAIL_FROM}
      privacy__useGravatar: false
      # mail__transport: ${MAIL_TRANSPORT}
      # mail__options__service: ${MAIL_SERVICE}
      # mail__options__host: ${MAIL_HOST}
      # mail__options__port: ${MAIL_PORT}
      # adapters__storage__active: ${STORAGE_SERVICE}
      # adapters__storage__s3__accessKeyId: ${AWS_ACCESS_KEY_ID}
      # adapters__storage__s3__secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
      # adapters__storage__s3__bucket: ${AWS_BUCKET}
      # adapters__storage__s3__region: ${AWS_REGION}
      # adapters__storage__s3__assetHost: ${AWS_ASSET_HOST}
    volumes:
      - ghostdata:/var/lib/ghost/content
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.services.ghost.loadbalancer.server.port=2368
      - traefik.http.services.ghost.loadbalancer.sticky.cookie=true
      - traefik.http.routers.ghost-http.rule=Host(`${GHOST_DNS}`)
      - traefik.http.routers.ghost-http.entrypoints=web
      - traefik.http.routers.ghost-http.middlewares=https-only@file
      - traefik.http.routers.ghost-https.service=ghost
      - traefik.http.routers.ghost-https.entrypoints=websecure
      - traefik.http.routers.ghost-https.rule=Host(`${GHOST_DNS}`)
      - traefik.http.routers.ghost-https.middlewares=secured@file
      - traefik.http.routers.ghost-https.tls=true
      - traefik.http.routers.ghost-https.tls.certresolver=letsencrypt

  ghostdb:
    image: mysql:8.3.0
    networks:
      - backend
    container_name: ghostdb
    restart: always
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql:/var/lib/mysql

volumes:
  ghostdata:
    external: true
  mysql:
    external: true

networks:
  traefik:
    external: true
  backend:
    external: true